<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>Squiddums</string>
		<key>lastEditingUserName</key>
		<string>Ian Beck</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2009-08-31T14:52:59Z</date>
	<key>dataHash</key>
	<string>f250977b83107c8c47308d30d6509d1e34f3d916</string>
	<key>displayName</key>
	<string>Index</string>
	<key>documentBackgroundColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>index</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2012-05-19T14:46:07Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>net.daringfireball.markdown</string>
	<key>uuid</key>
	<string>c4556fcf-bfdc-4911-9716-d8de78afbc9e</string>
	<key>version</key>
	<integer>9</integer>
</dict>
</plist>
