<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>lastEditingComputerName</key>
		<string>Squiddums</string>
		<key>lastEditingUserName</key>
		<string>Ian Beck</string>
		<key>skipOnExport</key>
		<true/>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2012-05-19T15:34:09Z</date>
	<key>dataHash</key>
	<string>84081f8195f370cfc455d235d4501a9821b503e8</string>
	<key>displayName</key>
	<string>VPJSPrefixScript</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>vpjsprefixscript</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2012-05-22T16:18:40Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>org.jstalk.jstalk-source</string>
	<key>uuid</key>
	<string>39bcdfda-b739-4401-9f49-d1d1376887fd</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
