<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array>
		<string>applescripts</string>
	</array>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>Squiddums</string>
		<key>lastEditingUserName</key>
		<string>Ian Beck</string>
	</dict>
	<key>categories</key>
	<array>
		<string>1341394b-289d-4397-9a6a-1cd11041bf4a</string>
	</array>
	<key>createdDate</key>
	<date>2009-08-31T14:57:00Z</date>
	<key>dataHash</key>
	<string>39a0f86ee0c51469a5075d64019383e2366bb084</string>
	<key>displayName</key>
	<string>Resource_Applescripts</string>
	<key>documentBackgroundColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>resource_applescripts</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2012-05-19T14:53:55Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>net.daringfireball.markdown</string>
	<key>uuid</key>
	<string>76c4ef41-0dda-487d-873e-7b2bd2a94e2a</string>
	<key>version</key>
	<integer>21</integer>
</dict>
</plist>
