<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict/>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2009-08-31T15:06:09Z</date>
	<key>displayName</key>
	<string>LaunchBar</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>launchbar</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2009-08-31T15:06:09Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.fm.url</string>
	<key>uuid</key>
	<string>fed1e7be-256b-4379-bded-65d3e469aa3d</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
