<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>Squiddums</string>
		<key>lastEditingUserName</key>
		<string>Ian Beck</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2009-08-31T15:37:10Z</date>
	<key>dataHash</key>
	<string>d6da8d62e039dc7c55542d73ccabb0da29fc71bf</string>
	<key>displayName</key>
	<string>How it all works</string>
	<key>documentBackgroundColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>how it all works</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2012-05-19T14:52:00Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>net.daringfireball.markdown</string>
	<key>uuid</key>
	<string>2d545dfc-ce34-495a-adef-582e39f94886</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
