<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>aliasAddress</key>
		<string>b77c9f91-8e15-43e3-bfae-9edbd25d3313</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>1970-01-01T00:00:00Z</date>
	<key>displayName</key>
	<string>Inboxes Index</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>inboxes index</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>1970-01-01T00:00:00Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.fm.page-alias</string>
	<key>uuid</key>
	<string>1d57678a-810f-43ca-b088-41a7a719ab9c</string>
	<key>version</key>
	<integer>0</integer>
</dict>
</plist>
