<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
	</dict>
	<key>categories</key>
	<array>
		<string>b82e719e-2bb4-45d8-bb96-d82a9fc955ad</string>
	</array>
	<key>createdDate</key>
	<date>2009-08-31T15:21:01Z</date>
	<key>displayName</key>
	<string>Inbox</string>
	<key>documentBackgroundColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>inbox</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2009-08-31T15:21:55Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>public.utf8-plain-text</string>
	<key>uuid</key>
	<string>51e13d00-68e3-473e-aa2e-469a4a034792</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
