<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>skipOnExport</key>
		<true/>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2009-08-31T14:56:44Z</date>
	<key>displayName</key>
	<string>VPWebExportPageTemplate</string>
	<key>documentBackgroundColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>vpwebexportpagetemplate</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2009-09-09T02:39:14Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>Yes</string>
	<key>uti</key>
	<string>public.utf8-plain-text</string>
	<key>uuid</key>
	<string>5a1ab3a1-e140-4097-89f2-a716a87d2ce9</string>
	<key>version</key>
	<integer>9</integer>
</dict>
</plist>
