<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array>
		<string>tags index</string>
	</array>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>meta.indexedTag</key>
		<string>tag</string>
	</dict>
	<key>categories</key>
	<array>
		<string>4f8bc676-6551-4312-aa58-0576ec36bec4</string>
	</array>
	<key>createdDate</key>
	<date>2009-08-31T15:25:36Z</date>
	<key>dataHash</key>
	<string>38b37876fc5875fc8e8a6e7df951cfd580c506b0</string>
	<key>displayName</key>
	<string>Index: Tags</string>
	<key>documentBackgroundColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>index: tags</string>
	<key>metaValues</key>
	<dict>
		<key>indexedTag</key>
		<string>tag</string>
	</dict>
	<key>modifiedDate</key>
	<date>2012-05-22T16:18:15Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>public.utf8-plain-text</string>
	<key>uuid</key>
	<string>ee881fad-10c4-43e3-a8e0-456a66ecdfec</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
