<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict/>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2009-08-31T15:07:19Z</date>
	<key>dataHash</key>
	<string>12326d09c4806fa8bf073317a62a1b1db4bac337</string>
	<key>displayName</key>
	<string>FastScripts</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>fastscripts</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2009-08-31T15:07:19Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.fm.url</string>
	<key>uuid</key>
	<string>ee9cfd51-10c8-4b8a-bf84-cb1a610aa031</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
